* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  margin: auto;
  height: auto;
  width: 78rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 56rem;
  }
}

@media screen and (max-width: 950px) {
  .container {
    width: 50rem;
  }
}

@media screen and (max-width: 850) {
  .container {
    width: 100%;
  }
  header {
    padding: 0rem 1rem;
  }
}
